html {
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 line-height: 1.5
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #57585b;
  padding: 32px 0px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color:#57585b;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #57585b;
  padding-bottom: 8px;
}

h4 {
 font-size: 1.5rem;
 color: #57585b;
 text-transform: uppercase;
}

p {
  font-size: 1.3rem;
  font-weight: normal;
  color: #57585b;
  line-height: 1.6;
}

a {
text-decoration: none;
font-size: 1.3rem;
font-weight: normal;
color: #57585b;
line-height: 1.6;
}

a:hover {
font-weight: 800;
}

.section {
display: flex;
width: 100%;
}
/*header*/
nav {
display: flex;
align-items: center;
height: 64px;
padding-right: 16px;
width: 100%;
padding: 0px 24px;
}

nav p {
text-transform: uppercase;
font-weight: 700;
width: 62%;
}

nav span {
color: lightgrey;
}

ul li {
display: inline;
}

ul li:nth-child(-n+3) {
padding-right: 16px;
}

ul li:last-child {
padding-right: 50px;
}

/*banner*/
.banner {
background-color: #cec6c2;
}

.banner img {
width: 60%;
overflow: hidden;
padding: 32px 24px;
border: 1px solid black;
}

.banner .title {
display: flex;
justify-content: center;
flex-direction: column;
padding-left: 24px;
}

.banner .title p {
font-size: 1.5rem;
padding-bottom: 3rem;
font-weight: bold;
color: #57585b;
}

.title .button {
font-size: 1.5rem;
background-color: #57585b;
color: white;
padding: 8px;
width: 100%;
text-align: center;
text-decoration: none;
}

.button:hover {
font-weight: 800;
}

/*information*/
.section.information {
padding: 32px 24px;
}

.column.one {
width: 60%;

}

.column.one img {
width: 100%;
height: auto;
overflow: hidden;
}

.column.one h2 {
padding-top: 32px;
padding-bottom: 24px;
}

.colum.one p {
line-height: 1.4rem;
}

.author {
padding-top: 32px;
font-weight: 500;
}

.column.two {
width: 40%;
}

.column.two .container {
display:flex;
width: 100%;
padding: 0 16px 16px 16px;
margin-left: 24px;
}

.column.two .container:nth-child(n+2) {
padding-top: 16px;
}

.column.two .container:last-child {
background-color: #cec6c2;
}
.container img {
width: 35%;
height: 35%;
padding-right: 16px;
}

.container .description {
width: 65%;
align-self: center;
}

.description p {
padding: 8px 0px;
}

.description a:visited {
color: blue;
}

/*courses*/
.container2 {
display: flex;
background-color:#e8e6e5;
justify-content: center;
padding: 32px 72px;
flex-wrap: wrap;
}

.container2 h2  {
width: 100%;
padding-bottom: 32px
}

.studies {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.courses {
display: flex;
flex-wrap: wrap;
max-width: 30%;
height: auto;
overflow: hidden;
padding-bottom: 32px;
}

.content {
padding: 16px 16px;
background: white;
width: 100%;
}

.content h4 {
padding: 8px 0px;
}

/*thesis*/
.container3 h2 {
text-align: center;
padding-top: 32px;
}

video{
width: 100%;
}

.thesis .column.one h3{
padding: 24px 0px 8px 0px;
}

.thesis .column.two .container.showcase {
background-color: #cec6c2;
}

/*footer*/
footer {
display: inline;
border-top: 0.50px solid #cec6c2;
padding: 16px 24px;
}

ul {
float: right;
}
