html {
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 line-height: 1.5
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #57585b;
  padding: 32px 0px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color:#57585b;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #57585b;
  padding-bottom: 8px;
}

h4 {
 font-size: 1.5rem;
 color: #57585b;
 text-transform: uppercase;
}

p {
  font-size: 1.3rem;
  font-weight: normal;
  color: #57585b;
  line-height: 1.6;
}

a {
text-decoration: none;
font-size: 1.3rem;
font-weight: normal;
color: #57585b;
line-height: 1.6;
}

a:hover {
font-weight: 800;
}

.section {
display: flex;
width: auto;
}
/*header*/
nav {
display: flex;
align-items: center;
height: 64px;
padding-right: 16px;
width: 100%;
padding: 0px 24px;
background-color: white;
}

nav p {
text-transform: uppercase;
font-weight: 700;
width: 62%;
}

nav span {
color: lightgrey;
}

ul li {
display: inline;
}

ul li:nth-child(-n+3) {
padding-right: 16px;
}

ul li:last-child {
padding-right: 50px;
}

.mobile.menu {
display: none;
}

/*mobile version*/
@media only screen and (max-width: 768px){
#menu {
display: none;
}

nav {
padding: 0px;
}

.mobile.menu {
display: flex;
width: 100%;
justify-content: space-between;
padding: 0px 16px;
}

nav .logo {
display: none;
}
}

/*banner*/
.section.banner {
background-color: #f4e542;
padding: 32px 24px;
}

.section.banner img {
width: 60%;
height: auto;
}

.section.banner .title {
display: flex;
justify-content: center;
flex-direction: column;
padding-left: 24px;
width: auto;
}

.section.banner .title p {
font-size: 1.5rem;
padding-bottom: 3rem;
font-weight: bold;
color: #57585b;
}

.title .button {
font-size: 1.5rem;
background-color: #57585b;
color: white;
padding: 8px;
width: 75%;
text-align: center;
text-decoration: none;
}

.button:hover {
font-weight: 800;
}

/*mobile version*/
@media only screen and (max-width: 768px){
.section.banner {
flex-direction: column;
width: auto;
padding: 0px;
}

.section.banner img {
width: 100%;
}

.section.banner .banner.title {
width: auto;
padding: 32px 0px 32px 16px;
overflow: hidden;
}

.section.banner .banner.title p {
padding-top: 32px;
padding-bottom: 24px;
}

.banner.title .button {
width: 94%;
}
}

/*information*/
.section.information {
padding: 32px 24px;
}

.column.one {
width: 60%;
}

.column.one img {
width: 100%;
height: auto;
overflow: hidden;
}

.column.one h2 {
padding-top: 32px;
padding-bottom: 24px;
}

.colum.one p {
line-height: 1.4rem;
}

.author {
padding-top: 32px;
font-weight: 500;
}

.column.two {
width: 40%;
}

.column.two .container {
display:flex;
width: auto;
padding: 0 16px 16px 16px;
margin-left: 24px;
}

.column.two .container:nth-child(n+2) {
padding-top: 16px;
}

.column.two .container:last-child {
background-color: #f4e542;
}

.container img {
width: 35%;
height: 35%;
padding-right: 16px;
}

.mobile.image {
display: none;
}

.container .description {
width: 65%;
align-self: center;
}

.description p {
padding: 8px 0px;
}

.description a:visited {
color: blue;
}

/*mobile version */
@media only screen and (max-width: 768px){
.section.information .column.one {
display: none;
}

.section.information .column.two {
width: 100%;
margin: 0px;
padding: 0px;
}

.section.information .column.two .container {
padding: 0px;
margin: 0px;
flex-direction: column;
width: 100%;
}

.section.information .column.two img {
display: none;
}

.section.information .column.two .mobile.image {
display: block;
width: 100%;
overflow: hidden;
}

.section.information .column.two .container .description{
width: 100%;
padding: 32px 0px 64px 0px;
}

.section.information .column.two .container:last-child {
background-color: white;
}
}

/*courses*/
.section.courses {
background-color:#cec6c2;
justify-content: center;
flex-wrap: wrap;
padding: 32px 40px 32px 40px;
}

.section.courses .header {
width: 100%;
padding-bottom: 32px;
text-align: center;
}

.section.courses .programme {
display: flex;
flex-direction: column;
max-width: 30%;
height: auto;
overflow: hidden;
background-color: white;
margin: 0px 32px 32px 0px;
}

.section.courses .content {
padding-top: 16px;
width: auto;
padding: 16px 0px 24px 16px;
}

.section.courses .content h4 {
padding: 8px 0px;
}
.content.mobile {
display: none;
}

/*mobile version */
@media only screen and (max-width: 768px){
.section.courses {
background-color: white;
flex-direction: column;
padding: 0px;
width: 100%;
}

.section.courses .programme .image {
display: none;
}

.section.courses .programme {
max-width: 94%;
margin: 0px;
padding-left: 0px 16px 0px 16px;
}

.section.courses .programme .content h3, h4, p {
display: none;
}
.programme .content.mobile {
display: block;
background-color: #f4e542;
padding: 16px 0px 16px 16px;
font-size: 2rem;
}

/*thesis*/
.section.thesis {
flex-wrap: wrap;
padding: 0px 0px 24px 24px;
}

.section.thesis h2{
text-align: center;
padding-top: 32px;
padding-bottom: 32px;
width: 100%;
}

.section.thesis video {
width: 100%;
}

.section.thesis .column.one h3{
padding: 24px 0px 8px 0px;
}

.section.thesis .column.two .container.showcase {
background-color: #f4e542;
padding-top: 16px;
}

.section.thesis .column.two .container.research.study {
background-color: white;
}

/*mobile version */
@media only screen and (max-width: 768px){
.section.thesis {
padding: 0px;
}

.section.thesis .column.two {
display: none;
}

.section.thesis .column.one h3 {
display: none;
}

.section.thesis .column.one {
width: auto;
padding-bottom: 24px;
}
}

/*footer*/
footer {
display: flex;
border-top: 1px solid #cec6c2;
padding: 16px 24px;
width: auto;
}

footer p {
width: 85%;
}

/*mobile version */
@media only screen and (max-width: 768px){
footer {
border: none;
}

footer ul{
display: none;
}

footer p{
display: block;
width: 100%;
}
}
