html {
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 line-height: 1.5
}

/*header*/

nav {
display: flex;
max-height: 64px;
}

.menu {
display: inline;
}

/*banner*/
.banner {
display: flex;
background-color: #d6d7db;
width: 100%;
}

.banner .image.container {
width: 60%;
height: auto;
}

.banner img {
padding: 32px 24px;
}

.banner .title {
display:flex;
justify-content: center;
flex-direction: column;
}

.banner .title h1 {
font-size: 4.5rem;
font-weight: bold;
padding-bottom: 3rem;
color: #57585b;
}

.banner .title span {
font-size: 2.5rem;
padding-bottom: 3rem;
color: #57585b;
}

.title .button {
font-size: 2rem;
background-color: #57585b;
color: white;
padding: 25px;
width: 100%;
text-align: center;
}

/*information*/

.column.one {
margin-top: 32px; 
}
